*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}
table,th,td{
    border: 1px solid;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
table tr td a{
 padding: 10px;
}

button{
    height: 30px;
    width: 100px;
    text-decoration: none;
}