<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Book</h1>
    <form action="/updatebook/<%=book.id%>" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%=book.bookname%>"><br><br>
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="<%=book.author%>"><br><br>
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" value="<%=book.category%>"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>