<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Book</h1>
    <form action="/createbook" method="post">
        <label for="">BookName:</label>
        <input type="text" name="name" id=""><br><br>
        <label for="">Author:</label>
        <input type="text" name="author" id=""><br><br>
        <label for="">Category:</label>
        <input type="text" name="category" id=""><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>