<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create User</h1>
    <form action="/create" method="post">
        <label for="">Name:</label>
        <input type="text" name="name" id=""><br><br>
        <label for="">Email:</label>
        <input type="text" name="email" id=""><br><br>
        <label for="">Password:</label>
        <input type="password" name="psw" id=""><br><br>
        <label for="">Add Book:</label>
        <% books.map(books => { %>
       <input type="checkbox" name="books" id="" value="<%= books.id %>">
       <label for=""><%= books.bookname  %></label>
       <% }) %>
       <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>