<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Database<br> Users </h1>
   <table>
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>

    <tbody>
        <% for(let user of users){ %>
        <tr>
            <td><%= user.id  %></td>
            <td><%= user.username %></td>
            <td><%= user.email  %></td>
            <td><%= user.password  %></td> 
        </tr>
        <% }; %>
    </tbody>
   </table>
</body>
</html>