<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="/update/<%=user.id%>" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%=user.username%>"><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%=user.email%>"><br><br>
        <label for="psw">Password:</label>
        <input type="password" name="psw" id="psw" value="<%=user.password%>"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>