<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

    <center>
        <h1>Welcome to My Website</h1>
        <P>User name is : <%= fname %></P>
        <P>Password is : <%= psw %></P>
    </center>
    
</body>
</html>