<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>

    <center>
        <h1>Welcome to My Website</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam corrupti laboriosam nulla, quia perspiciatis illo exercitationem ab libero cupiditate odio officiis ex tempora dolor repudiandae! Doloribus, explicabo aliquam. Commodi.</P>
    </center>
    
</body>
</html>