<footer>
    <h2>This is footer</h2>
    <img src="facebook.jpg" alt="" height="30" width="30">
    <img src="instagram.jpg" alt="" height="30" width="30" style="margin-left: 10px;">
    <img src="twitter.jpg" alt="" height="30" width="60">
</footer>
